*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Build/Dependencies
dist
lambda_function.zip
requirements.txt
*pycache*
*pytest_*
*ruff_*

# CONSTANTS
# KEYS
keys.ts
*keys*

# Channels
channels.ts
*channels*
